body {
  background-color: black;
  font-family: Times;
  font-size: 15;
}

.lineemup {
  text-align: center;
  font-size: 12;
}

.lineemup > div {
  display: inline-block;
}

.whitebg {
  background-color: #ffffff;
  padding-top: 3px;
  padding-bottom: 17px;
  padding-left: 2px;
  padding-right: 2px;
  
  font-family: "Monaco", monospace;
  font-size: 13px;
  color: #191919; 
  
  text-shadow: 1px 1px #cccccc;
  text-decoration: none;
}

div {
  background-image: url("/xstars.gif");
}

h1 {
  color: orange;
}

h2 {
  color: lightgreen;
}

h3 {
  color: violet;
}

h4 {
  color: thistle;
}

p {
  color: white;
}

a:link {
  color: yellow;
}

a:visited {
  color: yellow;
}

a:active {
  color: darkviolet;
}

a:hover {
  color: darkviolet; 
}
